header {
    display: flex;
    padding-bottom: 5px; 
    border-bottom: 1px solid #494949;
}

header nav {
    display: flex;
    margin-left: auto;
}

header h1 {
    margin: auto auto auto 0;
    font-size: 1.5em;
}

header a {
    color:black;
    margin: auto 0 auto 1.5em;
}

header a:hover {
    color: #41adff;
}

header svg {
    display: block;
    width: 1.8em; 
    fill:currentColor;
}

body {
    max-width: 70ch;
}

footer {
    display: flex;
}

footer > small {
    margin-left: auto; 
    margin-right: auto;
}